In [1]:
import pymongo
import numpy as np
import pandas as pd

connection = pymongo.MongoClient()
db = connection.test
following = db.following

In [2]:
following.delete_many({})

In [3]:
for x in xrange(500):
    following.insert_one({"followee_id": np.random.randint(1,101), 
                          "follower_id": np.random.randint(1,101)})

In [4]:
a = following.find().limit(6)
for x in a:
    print x

{u'follower_id': 12, u'_id': ObjectId('55b93308442049460833964b'), u'followee_id': 64}
{u'follower_id': 89, u'_id': ObjectId('55b93308442049460833964c'), u'followee_id': 39}
{u'follower_id': 20, u'_id': ObjectId('55b93308442049460833964d'), u'followee_id': 79}
{u'follower_id': 64, u'_id': ObjectId('55b93308442049460833964e'), u'followee_id': 68}
{u'follower_id': 24, u'_id': ObjectId('55b93308442049460833964f'), u'followee_id': 41}
{u'follower_id': 39, u'_id': ObjectId('55b933084420494608339650'), u'followee_id': 58}

In [5]:
followee_id = range(1,101)
follower_2nd_degree = []
for x in xrange(1,101):
    follower_1st = following.distinct("follower_id", {"followee_id": x})
    follower_2nd = following.distinct("follower_id", {"followee_id": {"$in": follower_1st}})
    follower_2nd_degree.append(len(follower_2nd))

In [6]:
d = {"followee_id" : followee_id, 
     "follower_2nd_degree_count" : follower_2nd_degree}

In [7]:
pd.DataFrame(d).head(10)

   followee_id  follower_2nd_degree_count
0            1                          5
1            2                         18
2            3                         27
3            4                         21
4            5                         19
5            6                         28
6            7                         16
7            8                         19
8            9                         31
9           10                         26