In [1]:
import pymongo
import numpy as np
import pandas as pd

connection = pymongo.MongoClient()
db = connection.test
following = db.following

In [2]:
following.delete_many({})

In [3]:
for x in xrange(1000):
    following.insert_one({"followee_id": np.random.randint(101), 
                          "follower_id": np.random.randint(101)})

In [4]:
a = following.find().limit(6)
for x in a:
    print x

{u'follower_id': 85, u'_id': ObjectId('55b918f34420494459c3497a'), u'followee_id': 49}
{u'follower_id': 30, u'_id': ObjectId('55b918f34420494459c3497b'), u'followee_id': 10}
{u'follower_id': 74, u'_id': ObjectId('55b918f34420494459c3497c'), u'followee_id': 5}
{u'follower_id': 75, u'_id': ObjectId('55b918f34420494459c3497d'), u'followee_id': 17}
{u'follower_id': 69, u'_id': ObjectId('55b918f44420494459c3497e'), u'followee_id': 48}
{u'follower_id': 43, u'_id': ObjectId('55b918f44420494459c3497f'), u'followee_id': 74}

In [5]:
followee_id = range(1,101)
follower_2nd_degree = []
for x in xrange(1,101):
    follower_1st = following.distinct("follower_id", {"followee_id": x})
    follower_2nd = following.distinct("follower_id", {"followee_id": {"$in": follower_1st}})
    follower_2nd_degree.append(len(follower_2nd))

In [6]:
d = {"followee_id" : followee_id, 
     "follower_2nd_degree_count" : follower_2nd_degree}

In [7]:
pd.DataFrame(d).head(10)

   followee_id  follower_2nd_degree_count
0            1                         55
1            2                         60
2            3                         77
3            4                         50
4            5                         58
5            6                         69
6            7                         29
7            8                         50
8            9                         71
9           10                         43